{"filter":false,"title":"requirements.txt","tooltip":"/requirements.txt","undoManager":{"mark":3,"position":3,"stack":[[{"start":{"row":4,"column":12},"end":{"row":4,"column":13},"action":"remove","lines":["2"],"id":2}],[{"start":{"row":4,"column":12},"end":{"row":4,"column":13},"action":"insert","lines":["1"],"id":3},{"start":{"row":4,"column":13},"end":{"row":4,"column":14},"action":"insert","lines":["1"]}],[{"start":{"row":4,"column":13},"end":{"row":4,"column":14},"action":"remove","lines":["1"],"id":7}],[{"start":{"row":4,"column":13},"end":{"row":4,"column":14},"action":"insert","lines":["2"],"id":8}]]},"ace":{"folds":[],"scrolltop":269,"scrollleft":0,"selection":{"start":{"row":31,"column":0},"end":{"row":31,"column":11},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":17,"state":"start","mode":"ace/mode/text"}},"timestamp":1569223755828,"hash":"5d27cec21af164bd45fb823cf4f6c91eb68dca27"}